<?xml version="1.0" encoding="UTF-8"?>
<blueprint xmlns="http://www.osgi.org/xmlns/blueprint/v1.0.0"
  xmlns:ext="http://aries.apache.org/blueprint/xmlns/blueprint-ext/v1.0.0"
  xmlns:shell="http://karaf.apache.org/xmlns/shell/v1.0.0"
  default-timeout="10000">

  <shell:command-bundle>
    <shell:command name="calculator/calc">
      <shell:action
        class="nl.xup.samples.calculator.command.CalculatorCommand">
        <shell:property name="calculatorService" ref="calculatorServiceRef" />
      </shell:action>
    </shell:command>
  </shell:command-bundle>

  <reference id="calculatorServiceRef"
    interface="nl.xup.samples.calculator.service.CalculatorService" />

</blueprint>